
{% extends "layout.html" %}
{% block body %}
{% endblock %}

{% block js %}
    <script>
        $(function() {
            $.rebootOps(
              {"showUpdateBtn": "yes", "showDeleteBtn": "no", "data": [{"name": "timestamp", "title": "\u65f6\u95f4\u6233"}, {"name": "hostname", "title": "\u4e3b\u673a\u540d"}, {"name": "action", "title": "\u6267\u884c\u64cd\u4f5c"}, {"name": "app", "title": "\u4ea7\u54c1\u7ebf"}], "name": "service_boot_info", "title": "\u751f\u4ea7\u7cfb\u7edf\u542f\u52a8\u4fe1\u606f"}
            )
        })
    </script>
{% endblock %}

